${
    attributes["name"] != null
        ? attributes["name"]
        : format("cr%s%s%s%s%s",
            attributes["prefix"] == null ? "" : "-${attributes["prefix"] }",
            attributes["environment"] == null ? "" : "-${attributes["environment"]}",
            attributes["label"] == null ? "" : "-${attributes["label"]}",
            attributes["region"] == null ? "" : "-${attributes["region"] }",
            attributes["purpose"] == null ? "" : "-${attributes["purpose"]}",
        )
}